In [1]:
import time

import requests

In [2]:
import pandas as pd

In [3]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
# Change dir
%cd drive/MyDrive/STEM/Flymoon\ labs/projects/sunset\ color\ palette\ -\ september\ 2022/
%ls

/content/drive/MyDrive/STEM/Flymoon labs/projects/sunset color palette - september 2022
'Git GitHub workflow.gdoc'
'Implementation roadmap - sunset color palette.gdoc'
'Research - sunset color palette.gdoc'
 tweets_with_images_data_up_to_17_sept.csv
 twitter-sunset-dataset/

In [8]:
ALL_DATA_FILE_PATH = "tweets_with_images_data_up_to_17_sept.csv"
DATASET_PATH = "twitter-sunset-dataset"

In [6]:
df = pd.read_csv(ALL_DATA_FILE_PATH)
df

,index,media_key,type,url
0,0,3_1570503347152486400,photo,https://pbs.twimg.com/media/FcuMeS2WAAAS4e4.jpg
1,1,3_1571298500519907332,photo,https://pbs.twimg.com/media/Fc5fqT-X0AQq5tb.jpg
2,2,3_1571615114951802894,photo,https://pbs.twimg.com/media/Fc9_nspWQA47YB0.jpg
3,3,3_1571560989912440834,photo,https://pbs.twimg.com/media/Fc9OZNKXoAIor7b.jpg
4,4,3_1570582030483705858,photo,https://pbs.twimg.com/media/FcvUCRGX0AI3LRn.jpg
...,...,...,...,...
121,77,3_1570399545292464128,photo,https://pbs.twimg.com/media/FcsuEOyXoAAzSoO.jpg
122,78,3_1570585664768327680,photo,https://pbs.twimg.com/media/FcvXVz3WQAANnTD.jpg
123,79,3_1570553018889691137,photo,https://pbs.twimg.com/media/Fcu5pkfWYAEHkNz.jpg
124,80,3_1570443276792270848,photo,https://pbs.twimg.com/media/FctV1vUakAAsTiW.jpg
125,81,3_1570350296995430401,photo,https://pbs.twimg.com/media/FcsBRmlXgAEsZRC.jpg

In [9]:
for idx, row in df.iterrows():
    r = requests.get(row["url"], stream=True)

    print(idx)

    if r.status_code == 200:
        with open(f"{DATASET_PATH}/{idx}.png", "wb") as f:
            f.write(r.content)
    
    break # lock

0